.theme-item {
  box-sizing: border-box;
  background-color: #008966; 
  text-align: center;
  line-height: 100%;
  padding: 8px 12px;
  width: 100%;
  color: white;
  &:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  &:last-of-type {
    border-radius: 0 4px 4px 0;
  }
}

.active-item {
  background-color: #00bc8c;
}