.next-level-button {
  font-size: 1rem;
  width: 100%;
  padding: 8px 12px;
  text-align: center;
  line-height: 100%;
  color: white;
  cursor: pointer;
  border: 1px solid #444;
  background-color: #303030;
  border-radius: 4px;
}

.enabled-button {
  background-color: #008966; 
  &:hover {
    background-color: #00bc8c;
  }
}