.theme-item {
  background-color: #008966; 
  text-align: center;
  line-height: 100%;
  padding: 8px 12px;
  width: 100%;
  color: white;
  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }
  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }
}

.active-item {
  background-color: #00bc8c;
}